<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <title>模切之家</title>
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <script src="//cdn.bootcss.com/angular.js/1.4.9/angular.js"></script>

    <link rel="stylesheet" href="__PUBLIC__/css/tigo-ui.css" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/css/wm-ui.css" type="text/css" />
    <style>
        .info-wrapper ul li{border-bottom: solid 1px #e1e1e1;}
        .info-wrapper .top{height: 5rem;line-height: 4rem;}
        .wm--input{border:solid 1px #ddd;border-radius: .2rem;height:2.2rem;background: #fff;font-size:.7rem;width:100%;margin-bottom: .6rem;padding:0 .6rem;}
        .wm--submit{border:solid 1px #E71823;border-radius: .2rem;height:2.2rem;background: #E71823;color:#fff;width:100%;font-size:.8rem;}
        .wm-ng-group{margin-bottom: .6rem;}
        .wm-ng-radio{border:none;padding: .3rem 1rem;border-radius:.2rem;font-size: .8rem;}
        .wm--close{position: absolute; left: .2rem;top:.2rem;display: block;width: 1rem;height: 1rem;font-size: .8rem;color:#fff;}
    </style>

</head>
<body ng-app="myApp" ng-controller="myCtrl">
<header class="wm-head">
    <a class="back" href="javascript:history.back();">&nbsp;</a>
    <h1>
        个人资料
    </h1>
</header>
<div class="info-wrapper">
    <ul class="wm-list">
        <li class="top">我的头像<div class="icon pull-right" style="background: url('{$user.avatar}') no-repeat center center;background-size: contain;width: 3.5rem;height:3.5rem;border-radius: 3.5rem;"> </div></li>
        <li ng-click="showInput(0)">昵称<span style="color:rgb(232,119,41);">（必填）</span> <img class="icon pull-right" src="__PUBLIC__/images/prev.png"/><div class="pull-right ">{$user.user_nicename}&nbsp;&nbsp;</div> </li>
        <li ng-click="showInput(1)">手机<span style="color:rgb(232,119,41);">（必填）</span> <img class="icon pull-right" src="__PUBLIC__/images/prev.png"/><div class="pull-right">{$user.mobile}&nbsp;&nbsp;</div></li>
        <li ng-click="showInput(2)">姓名<img class="icon pull-right" src="__PUBLIC__/images/prev.png"/> <div class="pull-right">{$user.truename}&nbsp;&nbsp;</div></li>
        <li ng-click="showInput(3)">性别 <img class="icon pull-right" src="__PUBLIC__/images/prev.png"/><div class="pull-right">{$user.sex}&nbsp;&nbsp;</div></li>
        <li ng-click="showInput(4)">联系地址 <img class="icon pull-right" src="__PUBLIC__/images/prev.png"/><div class="pull-right">{$user.address}&nbsp;&nbsp;</div></li>
        <li ng-click="showInput(5)">所属公司  <img class="icon pull-right" src="__PUBLIC__/images/prev.png"/><div class="pull-right">{$user.companyname}&nbsp;&nbsp;</div></li>
        <li ng-click="showInput(6)">职务 <img class="icon pull-right" src="__PUBLIC__/images/prev.png"/><div class="pull-right">{$user.position}&nbsp;&nbsp;</div></li>
    </ul>
    <a></a>
</div>
</body>
<script>
    var app = angular.module("myApp",[]);
    app.controller("myCtrl",function($scope,$timeout){
        //form表单属性
        var formMethod = "post",formAction = '{:U("user/center/do_reg_info")}';
        var pdiv = document.createElement("div");
        pdiv.style = 'position:fixed;height:100%;width:100%;background:rgba(40,40,40,.5);bottom:-110%;';
        var form = document.createElement("div");
        form.style = 'position:absolute;width:100%;padding:2rem 10%;bottom:0;left:0;';
        var close = document.createElement("a");
        close.setAttribute("id","closeForm");
        close.setAttribute("class","wm--close");
        close.innerHTML = "X";
        pdiv.appendChild(form);//form+close;
        pdiv.appendChild(close);
        document.body.appendChild(pdiv);
        document.getElementById("closeForm").onclick = function(){
            pdiv.style.bottom = "-100%";
        }
        //form表单
        var forms = [];
        forms[0] = '<form action="'+formAction+'" method="'+formMethod+'"><input type="text" name="nicename" placeholder="请输入您的昵称" class="wm--input" /><button class="wm--submit" type="submit">确定提交</button></form>';
        forms[1] = '<form action="'+formAction+'" method="'+formMethod+'"><input type="text" name="mobile" placeholder="请输入您的手机" class="wm--input" /><button class="wm--submit" type="submit">确定提交</button></form>';
        forms[2] = '<form action="'+formAction+'" method="'+formMethod+'"><input type="text" name="truename" placeholder="请输入您的姓名" class="wm--input" /><button class="wm--submit" type="submit">确定提交</button></form>';
        forms[3] = '<form action="'+formAction+'" method="'+formMethod+'"><div class="wm-ng-group" id="radioBtn" name="sex"><button class="wm-ng-radio" type="button" value="男">男</button>&nbsp;&nbsp;<button class="wm-ng-radio" type="button" value="女">女</button>&nbsp;&nbsp;<button class="wm-ng-radio" type="button" value="保密" >保密</button></div><input id="sexVal" type="hidden" name="sex"/> <button class="wm--submit" type="submit">确定提交</button></form>';
        forms[4] = '<form action="'+formAction+'" method="'+formMethod+'"><input type="text" name="address" placeholder="请输入联系地址" class="wm--input" /><button class="wm--submit" type="submit">确定提交</button></form>';
        forms[5] = '<form action="'+formAction+'" method="'+formMethod+'"><input type="text" name="comoanyname" placeholder="请输入所属公司" class="wm--input" /><button class="wm--submit" type="submit">确定提交</button></form>';
        forms[6] = '<form action="'+formAction+'" method="'+formMethod+'"><input type="text" name="position" placeholder="请输入职务" class="wm--input" /><button class="wm--submit" type="submit">确定提交</button></form>';

        //弹出修改表单事件
        $scope.showInput = function(i){
            form.innerHTML = forms[i];
            pdiv.style.bottom = 0;
            var btn = document.getElementById("radioBtn").getElementsByTagName("button")
            btn[0].onclick = function(){
                console.log(this.value);
                this.style.backgroundColor = "#E71823"
                btn[1].style.backgroundColor = "#EEE"
                btn[2].style.backgroundColor = "#EEE"
                document.getElementById("sexVal").value = this.value;
            }
            btn[1].onclick = function(){
                this.style.backgroundColor = "#E71823"
                btn[0].style.backgroundColor = "#EEE"
                btn[2].style.backgroundColor = "#EEE"
                document.getElementById("sexVal").value = this.value;
            }
            btn[2].onclick = function(){
                this.style.backgroundColor = "#E71823"
                btn[0].style.backgroundColor = "#EEE"
                btn[1].style.backgroundColor = "#EEE"
                document.getElementById("sexVal").value = this.value;
            }
            /*document.getElementById("closeForm").onclick = function(){
             pdiv.style.bottom = "-100%";
             }*/
        }
        /* document.body.onclick = function(){
         div.style.bottom = "-50%";
         }*/
    })

</script>
</html>